<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/pdPractice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import required liberaries
import pandas as pd

In [2]:
# define the student data frame with math data
df_student_math = pd.DataFrame({'student': ['Tom', 'Jack', 'Dan', 'Ram', 'Jeff', 'David'],
                                      'ID': [10,56,31,86,9,22]
                                })

In [4]:
# define the student data frame with science data
df_student_science = pd.DataFrame({'student':['Tom', 'Ram', 'David'],
                                   'ID': [10,12,22]})

In [5]:
#merge both dataframes to form a single data frame with math and science data
pd.merge(df_student_math, df_student_science)

  student  ID
0     Tom  10
1   David  22

In [6]:
# merge with key on student
pd.merge(df_student_math, df_student_science, on='student')

  student  ID_x  ID_y
0     Tom    10    10
1     Ram    86    12
2   David    22    22

In [7]:
# merge left join on key ID and also fill NaN values with x
pd.merge(df_student_math,df_student_science, on='ID', how='left').fillna('X')

  student_x  ID student_y
0       Tom  10       Tom
1      Jack  56         X
2       Dan  31         X
3       Ram  86         X
4      Jeff   9         X
5     David  22     David

In [8]:
# concatenate dataframes
pd.concat([df_student_math, df_student_science], ignore_index=True)

  student  ID
0     Tom  10
1    Jack  56
2     Dan  31
3     Ram  86
4    Jeff   9
5   David  22
6     Tom  10
7     Ram  12
8   David  22

In [9]:
#define new data frome with student survey data
df_student_survey_data = pd.DataFrame({'student': ['Tom', 'Jack', 'Tom', 'Ram', 'Jeff', 'Jack'],
                                       'ID' : [10,56,10,85,9,56]
                                       })

In [10]:
# view the dataframe
df_student_survey_data

  student  ID
0     Tom  10
1    Jack  56
2     Tom  10
3     Ram  85
4    Jeff   9
5    Jack  56

In [11]:
# check for duplicate values
df_student_survey_data.duplicated()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [12]:
# drop duplicate values with student as key
df_student_survey_data.drop_duplicates('student')

  student  ID
0     Tom  10
1    Jack  56
3     Ram  85
4    Jeff   9

In [13]:
#drop duplicate values with ID as key
df_student_survey_data.drop_duplicates('ID')

  student  ID
0     Tom  10
1    Jack  56
3     Ram  85
4    Jeff   9